#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  lemonldapng-app.service
BindsTo=lemonldapng.service
After=lemonldapng.service 

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/discovery_ldap.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/lemonldapng-app.pid %t/lemonldapng-app.ctr-id
ExecStartPre=/bin/bash -c '/bin/mkdir -p ./llng/{theme,template,plugins,register,userdb,auth,captcha,menutab,apps}'
ExecStartPre=-runagent discover-smarthost
ExecStartPre=/usr/local/bin/runagent discover-ldap
ExecStart=/usr/bin/podman run --conmon-pidfile %t/lemonldapng-app.pid \
    --cidfile %t/lemonldapng-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/lemonldapng.pod-id --replace -d --name  lemonldapng-app \
        --env PROXY_RANGE=10.0.0.0/8 \
        --env SSODOMAIN=${TRAEFIK_HOST} \
        --env PORTAL_HOSTNAME=auth.${TRAEFIK_HOST} \
        --env MANAGER_HOSTNAME=manager.${TRAEFIK_HOST} \
        --env HANDLER_HOSTNAME=reload.${TRAEFIK_HOST} \
        --env TEST1_HOSTNAME=test1.${TRAEFIK_HOST} \
        --env TEST2_HOSTNAME=test2.${TRAEFIK_HOST} \
        --env PRESERVEFILES="/etc/lemonldap-ng /var/lib/lemonldap-ng/conf /var/lib/lemonldap-ng/sessions /var/lib/lemonldap-ng/psessions /etc/nginx/sites-enabled" \
        --env LOGLEVEL=error \
        --env FASTCGI_LISTEN_PORT=9000 \
        --env PORT=80 \
        --volume etc:/etc/lemonldap-ng:Z \
        --volume var-conf:/var/lib/lemonldap-ng/conf:Z \
        --volume var-sessions:/var/lib/lemonldap-ng/sessions:Z \
        --volume var-psessions:/var/lib/lemonldap-ng/psessions:Z \
        --volume nginx:/etc/nginx/sites-enabled:Z \
        --volume ./llng/theme:/usr/share/lemonldap-ng/portal/htdocs/static/CustomTheme:Z \
        --volume ./llng/template:/usr/share/lemonldap-ng/portal/templates/CustomTheme:Z \
        --volume ./llng/plugins:/usr/share/perl5/Lemonldap/NG/Portal/Plugins/CustomPlugin:Z \
        --volume ./llng/register:/usr/share/perl5/Lemonldap/NG/Portal/Register/CustomRegister:Z \
        --volume ./llng/userdb:/usr/share/perl5/Lemonldap/NG/Portal/UserDB/CustomUserdb:Z \
        --volume ./llng/auth:/usr/share/perl5/Lemonldap/NG/Portal/Auth/CustomAuth:Z \
        --volume ./llng/captcha:/usr/share/perl5/Lemonldap/NG/Portal/Captcha/CustomCaptcha:Z \
        --volume ./llng/menutab:/usr/share/perl5/Lemonldap/NG/Portal/MenuTab/CustomMenuTab:Z \
        --volume ./llng/apps:/usr/share/lemonldap-ng/portal/htdocs/static/common/apps:Z \
    ${LEMONLDAP_NG_IMAGE}
ExecStartPost=/usr/local/bin/runagent update-smtp-settings
ExecStartPost=/usr/local/bin/runagent update-ldap-settings
ExecStartPost=/usr/local/bin/runagent update-cda-settings
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/lemonldapng-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP lemonldapng-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/lemonldapng-app.ctr-id
PIDFile=%t/lemonldapng-app.pid
Type=forking

[Install]
WantedBy=default.target
