#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a lemonldapng instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman lemonldapng.service
Requires=lemonldapng-app.service
Before=lemonldapng-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/lemonldapng.pid %t/lemonldapng.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/lemonldapng.pid \
    --pod-id-file %t/lemonldapng.pod-id \
    --name lemonldapng \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    --replace \
    --add-host myportal.${TRAEFIK_HOST}:127.0.0.1 \
    --add-host manager.${TRAEFIK_HOST}:127.0.0.1 \
    --add-host reload.${TRAEFIK_HOST}:127.0.0.1 \
    --network=slirp4netns:allow_host_loopback=true \
    --add-host=accountprovider:10.0.2.2
ExecStart=/usr/bin/podman pod start --pod-id-file %t/lemonldapng.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/lemonldapng.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/lemonldapng.pod-id
PIDFile=%t/lemonldapng.pid
Type=forking

[Install]
WantedBy=default.target
