name: "Publish images"

on:
  push:
    branches:
      - main  # Specify the branch or branches you want to trigger this workflow
  workflow_dispatch:  # This enables manual triggering of the workflow

permissions:
  packages: write  # Grant write access to GitHub packages

jobs:
  publish-images:
    if: github.run_number > 1  # Only run if this is not the first run

    uses: NethServer/ns8-github-actions/.github/workflows/publish-branch.yml@v1  # Reuse the workflow at the top level

    with:
      # You can pass parameters to the reusable workflow here, if needed
      # Example:
      # param_name: value
